body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  line-height: 2;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  color: #66BFBF;
  font-size: 2rem;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  clear: left
}

.djpfp {
  padding-top: 50px;
  width: 10%;
}

.earth {
  width: 10%;
  margin-right: 30px;
  float: left;
}

.coding {
  width: 15%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  font-family: 'Montserrat', sans-serif;
  background-color: #E4F9F5;
  padding: 50px 0 20px
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.top-cloud {
  position: absolute;
  right: 650px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 650px;
  bottom: 300px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #26d6e3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
